//скроллбар
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.5);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.7);
  background-clip: padding-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(128, 128, 128, 0.5) transparent;
}

html {
  scroll-behavior: smooth;
  overflow: visible !important;
}

body {
  overflow: visible !important;
  padding-right: 0 !important;
}

//swiper
.swiper {
  width: 100%;
  height: calc(100dvh);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: calc(100dvh);
  object-fit: cover;
}

.swiper-pagination {
  position: absolute;
  bottom: 200px !important;
  --swiper-pagination-bullet-size: 8px
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  background: #1e293b;
  border-radius: 50%;
}

.swiper-navigation-icon{
  display: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;

  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  background: white;
}

/* Левая стрелка */
.swiper-button-prev::after {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M15 18l-6-6 6-6'/%3E%3C/svg%3E");
}

/* Правая стрелка */
.swiper-button-next::after {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M9 18l6-6-6-6'/%3E%3C/svg%3E");
}